<div>
    Welcome <strong>{{ app.user.username }}</strong> to the homepage. <a href="{{ path('user_logout') }}">Logout</a>
</div>
<div>
    You must see this page only if you are authenticated.
</div>
